*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .container{
        max-width: 1200px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .calculator{
            width: 400px;
            height: 550px;
            background-color: lightsalmon;
            text-align: center;
            padding: 50px 30px;
            border-radius: 30px;
            .result{
                width: 100%;
                height: 50px;
                border-radius: 10px;
                font-size: 20px;
                margin: 30px 0;
                padding-right: 30px;
                color: white;
                background-color: black;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            .value{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .first{
                    width: 48%;
                    height: 40px;
                    outline: none;
                    border: 2px solid gray;
                    padding-left: 10px;
                }
                .second{
                    width: 48%;
                    height: 40px;
                    outline: none;
                    border: 2px solid gray;
                    padding-left: 10px;
                }
            }
            .btns{
                display: flex;
                flex-direction: column;
                margin-top: 25px;
                gap: 20px;
                .btn{
                    width: 100%;
                    height: 35px;
                    color: black;
                    font-weight: bolder;
                    border: 2px solid gray;
                }
                .btn.reset{
                    border: 2px solid black;
                    background-color: orangered;
                }
            }
        }
    }
}