

#section1{
    a{
        text-decoration: none;
    }
    .icon{
        width: 64px;
        height: 64px;
        border-radius: 8px;
        background-color: blue;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}