#section3 {
    .mains{
        display: flex;
        justify-content: center;
        align-items: center;
    

    .main {
        text-align: start;
        display: flex;
      width: 588px;
      height: 146px;
      border: 1px solid gray;
      border-radius: 7px;
      margin-bottom: 20px;
    }
}
}