@import "bootstrap/dist/css/bootstrap.min.css";
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}
.cardImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 100px;
  height: 150px;
}
